.input {
    padding: 5px 5px;
    margin-right: 15px;
    font-size: 16px;
    line-height: 1.1;
    border: 2px solid rgb(107, 100, 246);
}

.labelTitle {
    font-weight: bold;
    font-size: 25px;
}