.contactsList {
    list-style: none;
}

.contactsItem {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contactsName {
    font-size: 25px;
}

.contactsNumber {
    font-weight: bold;
}

.btnDelete {
    font-size: 16px;
    height: 50px;
    width: 100px;
    background-color: rgb(166, 193, 246);
    border-radius: 4px;
    border: 2px solid rgb(107, 100, 246);
}


.btnDelete:hover {
    background-color: rgb(244, 231, 148);
    box-shadow: rgba(49, 49, 49, 0.35) 0px 5px 15px;
}